<div class="w-100 d-flex flex-column">
    <div class="sidebar-wrapper w-100 fixed-top"
        style="z-index: 1000; border-bottom: 2px solid #000; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); background-color: rgba(239, 234, 207, 0.8);">
        <app-sidebar></app-sidebar>
    </div>

    <div class="content-wrapper flex-grow-1"
        style="padding-top: 80px; min-height: 100vh; background-color: var(--first-color);">
        <router-outlet></router-outlet>
    </div>
</div>