<div class="vh-100 d-flex flex-column">
    <div class="p-4">
        <h2 class="fs-1">Products Management</h2>
    </div>

    <div class="table-responsive overflow-auto" style="max-height: 85vh;">
        <table class="table table-fixed bg-warning-subtle table-hover p-4 w-100" style="table-layout: fixed;">
            <thead class="table-dark fs-4">
                <tr>
                    @for (key of columns; track key) {
                    <th scope="col" class="text-center">{{ key | titlecase }}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (product of productsService.products(); track product._id) {
                <tr class="border-top border-dark">
                    <td style="background-color: var(--first-color);" class="text-center">{{ product._id }}</td>
                    <td style="background-color: var(--first-color);" class="text-center">{{ product.name }}</td>
                    <td style="background-color: var(--first-color);" class="text-center">{{ product.category }}</td>
                    <td style="background-color: var(--first-color);" class="text-center">{{ product.price }}</td>
                    <td style="background-color: var(--first-color);" class="text-center">{{ product.quantity }}</td>
                    <td style="background-color: var(--first-color);" class="text-center">{{ product.status || 'LIVE' }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>